@model CarShop.Models.Entityes.CartIndexViewModel
@{
  ViewBag.Title = "Sports Store: Your Cart";
}
<h2>Your cart</h2>
<div>
<table width="90%" align="center">
  <thead>
    <tr>
      <th align="left">Quantity</th>
      <th align="left">Item</th>
      <th align="left">Price</th>
      <th align="left">Subtotal</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var line in Model.Cart.Lines) {
      <tr>
        <td align="left">@line.Quantity</td>
        <td align="left">@line.Product.Name</td>
        <td align="left">@line.Product.Price.ToString("N2") $</td>
        <td align="left">@((line.Quantity * line.Product.Price).ToString("N2")) $</td>
        <td align="center">@using (Html.BeginForm("RemoveFromCart", "Cart", FormMethod.Get))
               {
                   <input type="hidden" name="id" value="@line.Product.Id"/>
                 <span>  <button  type="submit">X</button></span>
               }
            </td>
      </tr>
    }
  </tbody>
  <tfoot>
    <tr>
      <td colspan="3" align="left">Total:</td>
      <td align="left">
        @Model.Cart.ComputeTotalValue().ToString("N2") $
      </td>
    </tr>
  </tfoot>
</table>
<span>
    @using (Html.BeginForm("Catalog", "Caars", FormMethod.Get))
               {
                   <input type="hidden"/>
                  <button  type="submit">Return to shoping</button>
               }
 </span>
</div>